<div class="container d-flex mt-sm-5 justify-content-center py-0 flex-column flex-sm-row w-sm-75 mx-auto" id="item">
  <div class="card w-75 w-sm-25 text-center align-self-center">
    <img src="<%= @token.image_uri %>" class="card-img-top img-fluid" alt="..." >
    <div class="card-body border border-top">
      <h5 class="card-title">Token#</h5>
      <h5 class="card-title" id="tokenID"><%=@token.token_id%></h5>
    </div>
  </div>
  <div class="border border-primary my-3 mx-sm-5 my-sm-0 d-none d-sm-block">
  </div>
  <div id="listingForm" class="align-self-center mt-3 mt-sm-0 align-self-sm-center w-sm-50 w-75">
    <h5 class="card-title pb-3">Name : <%=@token.name%></h5>
    <section class="pb-1">
      <h5 class="card-title">Description : </h5>
      <p class="lead">
        <%=@token.description%>
      </p>
      <% if(@sell)%>
        <h5 class="card-title">Listed Price : </h5>
        <p class="lead" id="listedPrice">
          <%=@listed.list_price%>
        </p>
        <p class="d-none" id="signature"><%=@listed.approval_signature%></p>
      <%end%>
    </section>
    <%# for owner %>
    <div class="w-100 w-sm-75">
      <% if(@sell && @owner)%>
        <%= link_to 'Cancel Sell', token_sale_path(@token,@listed),method: :delete,data:{turbo_method: :delete,turbo_confirm: "Are you sure?"} ,class: 'btn btn-secondary mt-3 mt-sm-5 text-center w-100 w-sm-50 fs-5 fw-semibold' %>
      <%elsif(!@sell && @owner)%>
        <%=link_to 'Listing', new_token_sale_path(@token) , class: 'btn btn-danger mt-3 mt-sm-5 text-center w-100 w-sm-50 fs-5 fw-semibold'%>
      <%end%>
    </div>
    <%# for buyer %>
    <div class="w-100 w-sm-75">
      <% if(@sell&& !@owner)%>
        <button id="buyBtn" class="btn btn-primary mt-3 mt-sm-5 text-center w-100 w-sm-50 fs-5 fw-semibold">Buy</button>
      <%end%>
    </div>
  </div>
</div>
<%# loading %>
<%= render 'shared/spinner'%>
