<div id="NFTMintingForm">
  <div class="col-md-6 offset-md-3 mt-5">
    <%= simple_form_for :form , :url=> pages_path, method: :POST, id: 'formId' do |f|%>
      <%= f.input :name, :as=>:string, :label=>"NFT Name", input_html: { id: 'name' } %>
      <br>
      <%= f.input :Imgae, :as=>:file, :label=>"NFT Image", input_html: {id: "image"}%>
      <br>
      <%= f.input :Description , :as=>:text, :label=>"Description", input_html: {id: "description"}%>
      <br>
      <%= f.submit "Submit", class: 'btn btn-primary', id: 'submitBtn'%>
    <%end%>
  </div>
</div>
